/* ===== Estilos personales de configuracion de colores del tema ====*/
* {
  margin:  0;
  padding: 0;
}


.skin-blue-light .main-header .navbar {
    background-color: #2F333E;
}

.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #086ec5;
}

.skin-blue-light .main-header .logo {
    background-color: #2F333E;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.skin-blue-light .main-header .logo:hover {
    background-color: #2F333E;
    /* background-color: #314A92; */
}
.skin-blue-light .sidebar-menu>li:hover>a, .skin-blue-light .sidebar-menu>li.active>a {
    color: #fff;
    background: #086ec5;
}

.main-footer {
    background: #2F333E;
    padding: 15px;
    color: #fff;
    border-top: 1px solid #d2d6de;
}

.skin-blue-light .main-header li.user-header {
    background-color: #2F333E;
}

/* ===== Estilos globales ====*/
.form-control {
    border-radius: 3px !important;
}

.form-control:focus{
  border-color: #66afe9 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
}

.ocultar-contenido {
    display: none;
}

.alert-warning {
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
    color: #8a6d3b !important;
}

.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #3c763d !important;
}

.alert-info {
    background-color: #D7EEF7 !important;
    color: #1082B5 !important;
}


.btnfrmline{
  padding-top: 25px !important;
  padding-right: 35px !important;

}
.btnfrmline button{
  margin-right: 10px !important;
}

.btnfrmlineCompras {
    padding-top: 25px !important;

}
/* .btnfrmlineCompras button {
    margin-right: 5px !important;
} */
.control-width {
  width: 200px !important;
  margin: 0px 10px;
}

span.sinDatos{
  font-size: 12px;
  font-family: sans-serif;
  color: #898181;
}

span.resultadoProforma{
  color: red;
}

.btn-proforma{
  margin-left: 50px !important;
}

.text-izq{
  margin-left: 0px !important;
}

.btn-right {
  text-align: right;
}

div.btn-right button {
  margin-left: 15px;
}

/* Etiqueta span para labels; */
.bg-success {
    background-color: #00a65a !important;
}

.bg-warning {
    background-color: #f39c12 !important;
}
.bg-info {
    background-color: #00c0ef !important;
}
.bg-danger {
    background-color: #dd4b39 !important;
}





/* Color del loader de la tabla  */
div.cargar-tabla i {
  color:#ea9d0b;
}


/* Poner cursor pointer en tabla de autorizadores */
table#table-autorizadores tbody tr{
  cursor: move;
}

.icon-color-info {
    color: #314a92 !important;
}

.icon-color-warning {
    color: #F39C12 !important;
}

.icon-color-danger {
    color: #DD4B39 !important;
}

.icon-color-success {
    color: #00A65A !important;
}

.icon-color-start {
    color: #FFE900 !important;
}

.icon-color-inform {
    color: #00C0EF !important;
}

.documento-aprobado{
  width: 1px !important;
  background-color: #00A65A !important;
}

.documento-revision{
  width: 1px !important;
  background-color: #F39C12 !important;
}

.documento-edicion{
  width: 1px !important;
  background-color: #00C0EF !important;
}
.relleno{
  height: 200px;
}

.derecho{
  z-index: 10000;
}









/*===== Estilos para el formulario de ingreso ==========*/
/*#backIngreso{
	position:relative;
	height:100vh;
	background:linear-gradient(rgba(0,0,150,1), rgba(0,100,200,1));
}

form#formIngreso{
	position:absolute;
	border-radius:5px;
	box-shadow:0px 0px 10px #001;
	width:300px;
	height:auto;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-115px;
	background:#eee;
	padding:0px 20px 10px 20px;
}

form h1#tituloFormIngreso{
	display:block;
	width:100%;
	text-align:center;
	font-size: 14px;
	line-height:50px;
	background:#333;
	color:white;
}

form input.formIngreso{
	margin:10px auto;
}*/
